<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-chip>{{ cardCount }}</ion-chip> card<span *ngIf="cardCount != 1">s</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list
    lines="none"
  >

    <ion-item-divider>
      My play...
    </ion-item-divider>
  
    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="dark"
        (click)="playCard()"
      >
      <ion-text>
        Played Card
      </ion-text>
    </ion-button>
    </ion-item>
  
    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="light"
        (click)="drawCard(true)"
      >
      <ion-text>
        Drew / Played
      </ion-text>

      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="light"
        (click)="drawCard(false)"
      >
      <ion-text>
        Drew / Didn't Play
      </ion-text>

      </ion-button>
    </ion-item>
    
    <ion-item-divider>
      Mean friends...
    </ion-item-divider>

    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="dark"
        (click)="drawTwo()"
      >
      <ion-text>
        Drew Two
      </ion-text>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="dark"
        (click)="drawFour()"
      >
      <ion-text>
        Drew Four
      </ion-text>
    </ion-button>
    </ion-item>

    <ion-item-divider>
      Forgot to say uno...
    </ion-item-divider>

    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="light"
        (click)="drawTwoForgotUno()"
      >
        <ion-text>
          Caught / Drew Two
        </ion-text>
      </ion-button>
    </ion-item>

    <ion-item-divider>
      Oops...
    </ion-item-divider>

    <ion-item>
      <ion-button
        style="flex: auto"
        size="default"
        color="dark"
        [attr.disabled]="playActions.length == 0"
        (click)="undoLastPlayAction()"
        >
        <ion-text>
          Undo
        </ion-text>
        &nbsp;
        &nbsp;
        <small>
          <ion-text
            color="medium"
          >
            {{ playActions.length > 0 ? playActions[playActions.length - 1].action : "None"}}
          </ion-text>
        </small>
      </ion-button>
    </ion-item>

  </ion-list>
  
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button
      color="light"
      slot="start"
      (click)="quitGame()"
      >
      We Quit
    </ion-button>
    <ion-button
      color="danger"
      slot="end"
      (click)="loseGame()"
    >
      I Lost
    </ion-button>
    <ion-button
      color="success"
      slot="end"
      (click)="winGame()"
    >
      I Won
    </ion-button>
  </ion-toolbar>
</ion-footer>
