<ion-header>
  <ion-toolbar>
    <ion-title>Me Versus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item 
      *ngFor="let p of availablePlayers"
    >
      <ion-checkbox 
        slot="start" 
        [(ngModel)]="p.checked"
        color="success"
      >
      </ion-checkbox>
      <ion-label>
        {{p.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      placeholder="Enter new player name"
    >

    </ion-input>
    <ion-button
      size="medium"
      slot="end"
      color="medium"
    >
      +
    </ion-button>
    <ion-button
      size="medium"
      slot="end"
      color="success"
      [routerLink]="['/play-game']"
      >
      Start
    </ion-button>
  </ion-toolbar>
</ion-footer>
