<ion-header>
  <ion-toolbar>
    <ion-title>Choose Players</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      lines="none"
    >
      <ion-checkbox 
        slot="start" 
        checked
        disabled
        color="success"
      >
      </ion-checkbox>
      <ion-label>
        Me (Yo, Moi, Ich)
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-text
        color="medium"
      >
        I'm playing with...
      </ion-text>
    </ion-item-divider>
    <ion-item 
      *ngFor="let p of availablePlayers"
    >
      <ion-checkbox 
        slot="start" 
        [(ngModel)]="p.checked"
      >
      </ion-checkbox>
      <ion-label>
        {{p.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      placeholder="Enter new player name"
    >

    </ion-input>
    <ion-button
      size="medium"
      slot="end"
      color="medium"
    >
      +
    </ion-button>
    <ion-button
      size="medium"
      slot="end"
    >
      Start
    </ion-button>
  </ion-toolbar>
</ion-footer>
