<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Uno
    </ion-title>
    <ion-buttons
      slot="end"
    >
      <ion-button
        (click)="showOptions()"
      >
        ...
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Uno</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-list
      lines="none"
    >

      <ion-item>
        <ion-button
          size="large"
          style="flex: auto; margin-top: 20px; margin-bottom: 20px;"
          color="success"
          [routerLink]="['/setup-game']"
        >
          Play Uno
        </ion-button>
      </ion-item>

      <ion-item-divider>
        Browse your stats...
      </ion-item-divider>
      
      <ion-item>
        <ion-card
          style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;"
          color="dark"
        >
          <ion-card-header>
            <ion-card-subtitle>My Overall Stats</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Win<span *ngIf="basicStats.wins != 1">s</span> /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Winning Percent: {{ basicStats.winningPercent | percent }}
            <br>
            <br>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Quits: {{ basicStats.quits }}
            <br>
            Completion Percent: {{ basicStats.completionPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card
          style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;"
          color="light"
        >
          <ion-card-header>
            <ion-card-subtitle>Leaderboard</ion-card-subtitle>
            <ion-card-title>
              Coming soon ! ! !
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Coming soon ! ! !
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card
          style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;"
          color="dark"
        >
          <ion-card-header>
            <ion-card-subtitle>By # of Players</ion-card-subtitle>
            <ion-card-title>
              Coming soon ! ! !
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Coming soon ! ! !
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-list>
</ion-content>
