<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Uno
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()">
        ...
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Uno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card
    *ngIf="!readyToSave"
  >
    <ion-card-header>
      <ion-card-subtitle>
        Use email address to store your data...
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        Email
      </ion-label>
      <ion-input
        placeholder="Enter your email address"
        [(ngModel)]="email"
      >
      </ion-input>
      <!-- <ion-label>
        Display Name
      </ion-label>
      <ion-input
        placeholder="Enter a display name"
        [(ngModel)]="nickname"
      >
      </ion-input> -->
      <ion-button
        size="medium"
        color="medium"
        (click)="saveEmailAndNickname()"
        [attr.disabled]="email.length == 0"
      >
        Save
      </ion-button>
    </ion-card-content>
  </ion-card>
  <div 
    class="ion-text-center ion-margin-vertical"
    *ngIf="loading"
  >
    <ion-spinner 
      name="crescent"
    >
    </ion-spinner>
  </div>


  <ion-list 
    lines="none"
    *ngIf="!loading && readyToSave"
  >

    <!-- <ion-card>
      <img src="assets/home-page-hero-image.jpg" />
    </ion-card> -->

    <ion-item>
      <ion-button size="large" style="flex: auto; margin-top: 20px; margin-bottom: 20px;" color="success"
        [routerLink]="['/setup-game']">
        Play Uno
      </ion-button>
    </ion-item>
    
    <ion-item-divider>
      Stats & fun facts...
    </ion-item-divider>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="dark">
        <ion-card-header>
          <ion-card-subtitle>Overall</ion-card-subtitle>
          <ion-card-title style="font-size: 2.5em;">
            {{ basicStats.wins }} Win<span *ngIf="basicStats.wins != 1">s</span> /
            <small>
              {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
            </small>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Winning Percent: {{ basicStats.winningPercent | percent }}
          <br>
          <br>
          Total Games: {{ basicStats.numberOfGames }}
          <br>
          Quits: {{ basicStats.quits }}
          <br>
          Completion Percent: {{ basicStats.completionPercent | percent }}
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="light">
        <ion-card-header>
          <ion-card-subtitle>Leaderboard</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row *ngIf="leaderboard.length == 0">
              Play some games ! ! !
            </ion-row>
            <ion-row *ngIf="leaderboard.length > 0">
              <ion-col>W</ion-col>
              <ion-col>L</ion-col>
              <ion-col>AVG</ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row *ngFor="let person of leaderboard">
              <ion-col>
                <div [style.font-weight]=" person.name == 'Me' ? 'bold' : 'inherit'">
                  {{ person.wins }}
                </div>
              </ion-col>
              <ion-col>
                <div [style.font-weight]=" person.name == 'Me' ? 'bold' : 'inherit'">
                  {{ person.losses }}
                </div>
              </ion-col>
              <ion-col>
                <div [style.font-weight]=" person.name == 'Me' ? 'bold' : 'inherit'">
                  {{ person.winningPercent.toFixed(3) }}
                </div>
              </ion-col>
              <ion-col>
                <div [style.font-weight]=" person.name == 'Me' ? 'bold' : 'inherit'">
                  {{ person.name }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="dark">
        <ion-card-header>
          <ion-card-subtitle>Hand Size Facts</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="font-size: 4em;" color="light">
            {{ handSizeFacts.largestHand }}
          </ion-text>
          <small>
            Largest Hand Ever
          </small>
          <br>
          <ion-text style="font-size: 2.5em;" color="success">
            {{ handSizeFacts.largestHandWithWin}}
          </ion-text>
          <small>
            Largest Hand with Win
          </small>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="light">
        <ion-card-header>
          <ion-card-subtitle>Game Time Facts</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="font-size: 1.75em;" color="dark">
            {{ gameTimeFacts.longest }}
          </ion-text>
          <br>
          <small>
            Longest Game Ever
          </small>
          <br>
          <br>
          <ion-text style="font-size: 1.75em;" color="dark">
            {{ gameTimeFacts.shortest }}
          </ion-text>
          <br>
          <small>
            Shortest Game Ever
          </small>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="dark">
        <ion-card-header>
          <ion-card-subtitle>Forgot to say "Uno"</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="font-size: 5em;" color="danger">
            {{ caughtNumber }}
            <span style="font-size: 0.3em;">time<span *ngIf="caughtNumber != 1">s</span></span>
          </ion-text>
          <br>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="light">
        <ion-card-header>
          <ion-card-subtitle>Your Game Size Stats</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row *ngIf="gameSizeStats.length == 0">
              Play some games ! ! !
            </ion-row>
            <ion-row *ngIf="gameSizeStats.length > 0">
              <ion-col>W</ion-col>
              <ion-col>L</ion-col>
              <ion-col>AVG</ion-col>
              <ion-col>Players</ion-col>
            </ion-row>
            <ion-row *ngFor="let stat of gameSizeStats">
              <ion-col>
                <div>
                  {{ stat.wins }}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{ stat.losses }}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{ stat.winningPercent.toFixed(3) }}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{ stat.numberOfPlayers }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="dark">
        <ion-card-header>
          <ion-card-subtitle>Last Played with {{ lastOpponents }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text *ngIf="daysAgo != '0'" style="font-size: 5em;">
            {{ daysAgo }}
            <span style="font-size: 0.3em;">day<span *ngIf="daysAgo != '1'">s</span> ago</span>
          </ion-text>
          <ion-text *ngIf="daysAgo == '0'" style="font-size: 3em;">
            Today 
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <!-- <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="light">
        <ion-card-header>
          <ion-card-subtitle>First Card Advantage?</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p
            *ngIf="firstCardStats.numberOfGames == 0"
          >
            No first card game data yet
          </p>
          <div
            *ngIf="firstCardStats.numberOfGames > 0"
          >
            <h1
              style="font-size: 2.5em;"
            >
              {{ firstCardStats.winningPercent | percent }}
            </h1>
            <br>
            <h4>
              Winning percentage of players who played the first card of a game. Based on {{ firstCardStats.numberOfGames }} game<span *ngIf="firstCardStats.numberOfGames != 1">s</span> with first card data.
            </h4>        
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item> -->

    <ion-item>
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" color="dark">
        <ion-card-header>
          <ion-card-subtitle>Game Turn Facts</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-text style="font-size: 1.75em;" color="light">
            {{ gameTurnFacts.mostTurns }} turns
          </ion-text>
          <br>
          <small>
            Most
          </small>
          <br>
          <br>
          <ion-text style="font-size: 1.75em;" color="light">
            {{ gameTurnFacts.fewestTurns }} turns
          </ion-text>
          <br>
          <small>
            Fewest
          </small>
          <br>
          <br>
          <ion-text style="font-size: 1.75em;" color="success">
            {{ gameTurnFacts.quickestWin }} turns
          </ion-text>
          <br>
          <small>
            Quickest Win
          </small>
          <br>
          <br>
          <ion-text style="font-size: 1.75em;" color="danger">
            {{ gameTurnFacts.quickestLoss }} turns
          </ion-text>
          <br>
          <small>
            Quickest Loss
          </small>          
        </ion-card-content>
      </ion-card>
    </ion-item>
    
    <br>
    <ion-item-divider>
      Games, newest to oldest...
    </ion-item-divider>

    <ion-item
      *ngFor="let g of reverseChron; let i = index"
    >
      <ion-card style="flex: auto; margin-left: 0; margin-right: 0; margin-bottom: 0;" [attr.color]="i % 2 == 0 ? 'light' : 'dark'">
        <ion-card-header>
          <ion-card-subtitle>{{ g.endDateTime | date }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p>
            Opponents: {{ g.opponents.join(", ") }}
          </p>
          <br>
          <p>
            Winner: {{ g.winningPlayer }}
          </p>

        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>