<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Uno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Uno</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-list
      lines="none"
    >
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-button
          size="large"
          style="flex: 1 1 auto"
          color="success"
        >
          Play Uno
        </ion-button>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-card
          style="flex: auto"
        >
          <ion-card-header>
            <ion-card-subtitle>Overall</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Wins /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Winning Percent: {{ basicStats.winningPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-card
          style="flex: auto"
        >
          <ion-card-header>
            <ion-card-subtitle>Overall</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Wins /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Winning Percent: {{ basicStats.winningPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>


      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-card
          style="flex: auto"
        >
          <ion-card-header>
            <ion-card-subtitle>Overall</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Wins /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Winning Percent: {{ basicStats.winningPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>


      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-card
          style="flex: auto"
        >
          <ion-card-header>
            <ion-card-subtitle>Overall</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Wins /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Winning Percent: {{ basicStats.winningPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>


      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-card
          style="flex: auto"
        >
          <ion-card-header>
            <ion-card-subtitle>Overall</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Wins /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Winning Percent: {{ basicStats.winningPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>


      <ion-item-divider></ion-item-divider>
      <ion-item>
        <ion-card
          style="flex: auto"
        >
          <ion-card-header>
            <ion-card-subtitle>Overall</ion-card-subtitle>
            <ion-card-title>
              {{ basicStats.wins }} Wins /
              <small>
                {{ basicStats.losses }} Loss<span *ngIf="basicStats.losses != 1">es</span>
              </small>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Total Games: {{ basicStats.numberOfGames }}
            <br>
            Winning Percent: {{ basicStats.winningPercent | percent }}
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-list>
</ion-content>
